@page
@model RyanNeilParker.Pages.ExperimentsModel
@{
    ViewData["Title"] = "Experiments";
}

<section class="text-center">
    <h1 class="display-4">Welcome to the experiments page!</h1>
</section>
